.card_container {
  position: fixed;
  width: 100%;
  max-width: 500px;
  right: 0;
  bottom: 0;
  top: 0;
  transform: translate(0);
  background: rgb(251 250 246);
  z-index: 4;
  height: 100vh;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  @media only screen and (max-width: 1200px) {
    left: 0;
    top: 10%;
    right: 0;
    width: 100%;
    max-width: 100%;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: white;
    span {
      padding-bottom: 2px;
      font-size: 12px;
      font-weight: 400;
      border-bottom: 1px solid black;
    }
    .close {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .header2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background: #f8f6ef;
    b {
      font-family:
        Teodor,
        ui-sans-serif,
        system-ui,
        -apple-system,
        Segoe UI,
        Roboto,
        Ubuntu,
        Cantarell,
        Noto Sans,
        sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.8px;
    }
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #e8e8e8;
  }
  .card_body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 20px;
    height: 100%;
    min-height: 450px;
    max-height: 55vh;
    box-sizing: border-box;
    background: rgb(251 250 246);
    position: relative;
    h3 {
      font-size: 20px;
    }
  }
  .checkout_div {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    .sub_total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 10px 20px;
      background: rgb(248 246 239);
    }
    .checkout {
      padding: 10px 20px;
      background: rgb(248 246 239);
      button {
        padding: 12px;
        border: none;
        outline: none;
        background: rgb(45 41 38);
        width: 100%;
        color: white;
        box-sizing: border-box;
      }
    }
    .note {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 0 20px 10px 20px;
      background: rgb(248 246 239);
    }
    @media only screen and (max-width: 1200px) {
      bottom: 100px;
    }
  }
}
.hide {
  transform: translate(100%);
  @media only screen and (max-width: 1200px) {
  }
}
