// root variable
:root {
  --primary-color: #f8f6ef;
  --notification_box: #2d2926;
}
* {
  box-sizing: border-box;
}
body {
  font-family:
    GTAmerica,
    ui-sans-serif,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Ubuntu,
    Cantarell,
    Noto Sans,
    sans-serif;
  font-style: normal;
  font-weight: 200;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
}
a {
  font-family:
    GTAmerica,
    ui-sans-serif,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Ubuntu,
    Cantarell,
    Noto Sans,
    sans-serif;
}

.container {
  width: 100%;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 600px) {
  .container {
    max-width: 560px;
  }
}

@media (min-width: 700px) {
  .container {
    max-width: 620px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 800px) {
  .container {
    max-width: 760px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1520px;
  }
}
